/* Generic Styles */

html {
    height: 100%;
}

main {
    flex: 1 0 auto;
}

/* hide bullet styling from all list items throughout site */
ul {
    list-style: none;
    padding: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0; /* add space to top and bottom of h1 headings  */
}

/* styling to animate an expanding line underneath main headings  */
h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #FFA500;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}


@keyframes animate {
    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }
}

/* class that can be added to html throughout site where text should be centered */
.text-center {
    text-align: center;
}



/* Header, Logo and Nav Styling*/
header {
    display: flex;
    width: 100%;
    background-color: #343232;
    margin: 0 auto 20px auto;
    max-height: 150px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
}

/* padding added to push logo in from edge of screen */
#logo {
    padding-left: 20px;
    max-height: 150px;
}

/* push links to right of header and center from top to bottom */
nav {
    text-align: right;
    display: flex; /* make responsive on different screen sizes */
    align-items: center;
    width: 100%;
    justify-content: flex-end;

}


nav li {
    display: block; /* list of links displayed on top of each other as default on small screen*/ 
    height: 100%;
    margin: 0 20px;
    line-height: 40px;
    font-size: 22px;
    cursor: pointer;
    transition: color .5s;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    padding-right: 5%;
}

/* add different color and increased font weight to nav link for the page that user is currently viewing */
.active {
    color: #FFA500;
    font-weight: 700;
}

/* Home Page */

.about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about-me .profile-pic{
    width: 100%;
}

.about-me-flex{
    width: 100%;
}

/* hero image */

/* responsive sizing of image on different screen sizes to keep aspect ratio */
#hero-image img{
    height: auto;  
    width: 100%;
    
}

.profile-pic img{
    height: auto;
    width: 100%;
}

/* Contact form */

/* styled to match footer and header colors */
#contact-form {
    border-radius: 5px;
    background-color: #343232;
    padding: 20px;
    margin-bottom: 20px; /* margin added to push form position up footer */
    color: white;
}

/* styling for form elements */
input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


/* styled to give 3d effect on contact form submit button */
#contact-form button[type=submit] {
    background-color: white;
    padding: 12px 20px;
    border: solid;
    border-style: groove;
    border-radius: 4px;
    cursor: pointer;
}

/* apply different color when hovered over with mouse */
button:hover {
    
    color: #FFA500;
}

#contact-form h2 {
    color: #FFA500;

}


/* adventures page */
#adventure-main {
    padding-bottom: 20px; /* push main content of adventure page up so not touching the footer */
}
#adventure-main input {
    display: none;    
}

/* hide content sections on adventures page as default. Checkboxes are ticked as default and unticked when user clicks on the labels  */
input:checked + label + .content{
    display: none; 
}

/* labels for checkboxes styled as buttons  */
#adventure-main label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #363534;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;
    text-align: center;
}

/* create hover effect to show user that labels are clickable */
#adventure-main label:hover {
    color: #FFA500;
}

#adventure-main .content {    
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}


#adventure-main img{
    height: auto; /* height set to auto so images are responsive and aspect is maintained on different size screens */
    width: 100%; /* image will take up full width of screen as default */
}

/* add padding to keep text from edge of screen */
#adventure-main .content p {
    padding: 5px;
}

.container {
    width: 100%;
    text-align: center;
    margin: auto;
    border-radius: 5px;

}

/* Footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column; 
    background-color: #343232;
    color: white;
    background-color: #343232;
    margin: 0 auto 20px auto;
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    flex-shrink: 0;
}

.contact-info {
    width: 100%; /* display full width as default on small screens */
    align-items: center;
}

.contact-info a {
    text-decoration: none; /* remove underline from phone number and email clickable links */
    color: #fff;
}

.contact-info a:hover {
    color: #FFA500;
}

 /* centered top to bottom in footer */
.social-media {
    font-size: large;
    font-weight: 700;
    width: 100%;
    justify-content: center;
}

.social-media p {
    color: #ffa500;
}

/* increase size of icons in footer and add some spacing inbween each icon */
.social-media i {
    color: white;
    font-size: 180%;
    margin: 1% 2%;
    padding: 0 2%;

}

/* change color of icons when mouse hover over them */
.social-media i:hover {
    color: #FFA500;
}

/* display icons side by side in footer  */
.social-media li {
    display: inline;
}


/* Gallery Page */
.container {
    display: flex;
    flex-direction: column; /* display images on top of each other as default */
    flex-wrap: wrap; /* wrapped so images are responsive on different size screens and when images are filtered by class */
    width: 100%;
    text-align: center;
    justify-content: center;
}

.pic {
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px 4px lightgray;
    width: 100%;
    height: auto; /* set to auto so images keep aspect ratio on different size screens */
    margin: 2px; /* give a bit of space between images */
}

.pic img {
    width: 100%;
    height: auto;
    transition: 0.5s;
    border-radius: 10px;
}

input.gallery-check {
    display: none; /* hide the radio buttons so only labels are displayed for better look and feel*/
}

h1 {
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

h1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: #ffa500;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite; /* animation timing */
}

/* increase and decrease the size of the line underneath the h1 headings as part of animation above */
@keyframes animate {
    0% {
        width: 100px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 100px;
    }
}

/* styled the photo filter to match site styling */
.photo-filter {
    background-color: #343232;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
}

/* hide the first part of photo filter as default on small screens */
h2.gallery-heading {
    display: none;
}

/* styling for photo filter */
label.gallery-label {
    display: inline-block;
    height: 100%;
    margin: 0 10px;
    line-height: 60px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: color 0.5s;
}

.photo-filter label:hover {
    color: #FFA500; /* change color on hover to match site design to show user that element is clickable */
}

.photo-gallery {
    display: contents;
    align-items: center;
}

.pic:before {
    content: "Photo Gallery";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffa500;
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: 0.3s;
    transition-delay: 0.2s;
    z-index: 1;
}

.ireland-pics,
.scotland-pics,
.bike-pics {
    align-items: center;
    justify-content: center;
    display: inline-flex;
}


#check1:checked~.container .photo-gallery .pic {
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: 0.5s;
}

#check1:checked~.container .photo-filter .check1 {
    color: #ffa500;
    font-weight: 700;
}

#check2:checked~.container .photo-gallery .ireland-pics {
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: 0.5s;
}

#check2:checked~.container .photo-filter .check2 {
    color: #ffa500;
    font-weight: 700;
}

#check2:checked~.container .photo-gallery .scotland-pics,
.bike-pics {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0.5s;
}

#check3:checked~.container .photo-gallery .scotland-pics {
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: 0.5s;
}

#check3:checked~.container .photo-filter .check3 {
    color: #ffa500;
    font-weight: 700;
}

#check3:checked~.container .photo-gallery .ireland-pics,
.bike-pics {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0.5s;
}

#check4:checked~.container .photo-gallery .bike-pics {
    transform: scale(1);
    opacity: 1;
    position: relative;
    transition: 0.5s;
}

#check4:checked~.container .photo-filter .check4 {
    color: #ffa500;
    font-weight: 700;
}

#check4:checked~.container .photo-gallery .ireland-pics,
.scotland-pics {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: 0.5s;
}

/* 404 Page */

.return-to-home a {
    font-size: 2rem;
    color: #000;
}

.return-to-home a:hover {
    color: #ffa500;
}

@media only screen and (min-width: 600px) {
    label.gallery-label {
        margin: 0 20px;
        font-size: 18px;
    }

    .container {
        flex-direction: row;
    }
    
    .pic {
        max-width: 49%;
    }

    nav li {
        display: inline-block;
    }

    label.gallery-label {
        margin: 0 20px;
        font-size: 18px;
    }
    
}

@media only screen and (min-width: 800px) {
    #contact-form {
        width: 50%;
    }

    #contact-form-section {
        display: flex;
        justify-content: center;
    }

    h2.gallery-heading {
        display: block;
        height: 100%;
        background-color: rgb(212, 209, 209);
        line-height: 60px;
        padding: 0 50px;
        color: #000;
    }

    .pic {
        max-width: 24%;
    }

    footer {
        flex-direction: row;
        max-height: 120px;
    }

    .social-media {
        width: 40%;

    }

    .contact-info {
        width: 60%;
        text-align: left;
        padding-left: 2%;
        padding-top: 1%;
    }

    .about-me .profile-pic{
        height: auto;
        width: 47%;
        
    }
    .profile-pic img{
        height: auto;
        width: 100%;
    }
    .about-me{
        flex-direction: row;
    }
    .about-me-flex{
        padding-left: 15px;
        width: 50%;
    }

    .adventure-images {
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }
    
    .content {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    #adventure-main img {
        width: 50%;
    }

    #adventure-main .content p {
        width: 50%;
    }
}